<!DOCTYPE html>
<html>
<head>
  <title>View Post</title>
  <link rel="icon" href="/favicon.png" type="image/png">

</head>

<body>
  <h1>📖 Post Detail</h1>
  <p><b><%= post.username %></b> : <%= post.content %></p>
  <a href="/posts">⬅ Back</a>
</body>
</html>
